*,
::before,
::after {
  box-sizing: border-box;
}

::before,
::after {
    vertical-align: inherit;
    text-decoration: inherit;
}

html {
    word-break: break-word;
    -moz-tab-size: 4;
    tab-size: 4;
    line-height: 1.5;
    cursor: default;
    -webkit-tap-highlight-color: transparent;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

/* Sections */
body {
    margin: 0;
}
h1 {
    margin: 0.67em 0;
    font-size: 2em;
}

/* Grouping content */
dl dl,
dl ol,
dl ul,
ol dl,
ul dl {
    margin: 0;
}

hr {
    overflow: visible;
    height: 0;
}
main {
    display: block;
}
nav ol,
nav ul {
    list-style: none;
    padding: 0;
}
pre {
    font-size: 1em;
    font-family: monospace, monospace;
}

/* Text-level semantics */
a {
    background: transparent;
}
abbr[title] {
    text-decoration: underline;
    text-decoration: underline dotted;
}
b,
strong {
    font-weight: bolder;
}
code,
kbd,
samp {
    font-size: 1em;
    font-family: monospace, monospace;
}
small {
    font-size: 80%;;
}

/* Embedded content */
audio,
canvas,
iframe,
img, svg,
video {
    vertical-align: middle;
}
audio,
video {
    display: inline-block;
}
audio:not([controls]) {
    display: none;
    height: 0;
}
img {
    border-style: none;
}
svg:not(:root) {
    overflow: hidden;
}

/*Table data*/
table {
    border-collapse: collapse;
}

/* Forms */
button,
input,
select {
    margin: 0;
}
button {
    overflow: visible;
    text-transform: none;;
}
button,
[type="button"],
[type="reset"],
[type="submit"] {
    appearance: button;
    -webkit-appearance: button;
}
fieldset {
    padding: 0.35em 0.75em 0.625em;
    margin: 0 2px;
    border: 1px solid #c0c0c0;
}
input {
    overflow: visible;
}
legend {
    display: table;
    max-width: 100%;
    white-space: normal;
    color: inherit;
}
progress {
    display: inline-block;
    vertical-align: baseline;
}
select {
    overflow: auto;
    margin: 0;
    resize: vertical;
}
[type="checkbox"],
[type="radio"] {
    padding: 0;
}
[type="search"] {
    outline-offset: -2px;
    appearance: textfield;
    -webkit-appearance: textfield;
}
::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
    height: auto;
}
::-webkit-input-placeholder {
    color: inherit;
    opacity: 0.54;
}
::-webkit-search-decoration {
    -webkit-appearance: none;
}
::-webkit-file-upload-button {
    font: inherit;
    -webkit-appearance: button;
}
::-moz-focus-inner {
    padding: 0;
    border-style: none;
}
:-moz-focusring {
    outline: 1px dotted ButtonText;
}
:-moz-ui-invalid {
    box-shadow: none;
}
/** Interactive */
details {
    display: block;
}
dialog {
    position: absolute;
    right: 0;
    left: 0;
    display: block;
    margin: auto;
    padding: 1em;
    width: -moz-fit-content;
    width: -webkit-fit-content;
    width: fit-content;
    height: -moz-fit-content;
    height: -webkit-fit-content;
    height: fit-content;
    border: solid;
    background-color: white;
    color: black;
}
dialog:not([open]) {
    display: none;
}
summary {
    display: list-item;
}

/* Scripting */
canvas {
    display: inline-block;
}
template {
    display: none;
}
/* User interaction */
a,
area,
button,
input,
label,
select,
summary,
textarea,
[tabindex] {
    -ms-touch-action: manipulation;
    touch-action: manipulation;
}
[hidden] {
    display: none;
}
/* Accessibility */
[aria-busy="true"] {
    cursor: progress;
}
[aria-controls] {
    cursor: pointer;
}
[aria-disabled="true"],
[disabled] {
    cursor: not-allowed;
}
[aria-hidden="false"][hidden] {
    display: initial;
}

[aria-hidden="false"][hidden]:not(:focus) {
    position: absolute;
    clip: rect(0, 0, 0, 0);
}